<template>
    <div id="allInPricingModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <form class="col s12">
                
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="modal-action modal-close waves-effect btn-flat blue white-text" click.trigger="setPricing()">
                <i class="material-icons right">check</i>
                Set Pricing
            </button>
            <button type="button" class="modal-action modal-close waves-effect btn-flat cancel" click.trigger="cancel()">Cancel</button>
        </div>
    </div>
</template>