<template>
    <div class="list">
        <a href="#">
            <i class="material-icons">chevron_left</i>
            <i class="material-icons">home</i>
            Home
        </a>
        <header>
            <img src="/img/order.jpg" alt="Orders">
        </header>

        <div class="container">
            <p class="flow-text" show.bind="showAll">Showing all orders</p>
            <ul class="collection">
                <li class="collection-header" show.bind="!showAll && !orders.length">
                    <h4>No open orders found</h4>
                    <a href="#/orders/all" click.trigger="showAllOrders()">Show all</a>
                </li>
                <li class="collection-item avatar auto-height" repeat.for="order of orders">
                    <img src="/img/meal.png" class="circle" alt="Order">
                    <div class="row">
                        <span class="title">${order.HeaderText}</span>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <strong class="summary">${order.Inquiry.Summary}</strong>
                            <br if.bind="order.DateAndTime">
                            <span if.bind="order.DateAndTime">${order.DateAndTime}</span>
                        </div>
                        <ul class="col s5 bordered ${order.hasOrderingNotes ? '' : 'invisible'}">
                            <li repeat.for="item of order.Items" show.bind="item.OrderingNotes">${item.OrderingNotes}</li>
                        </ul>
                    </div>
                    <a href="#/orders/${order.Id}" class="secondary-content">
                        <img src="/img/go.png" width="30px" height="30px" alt="Go">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>