<template>
    <div class="row">
        <h5 class="col s1">${item.SortOrder}</h5>
        <div class="col s7">
            <label>
                <input type="text" name="description" placeholder="Description" value.bind="item.Description" class="${_submitted && !item.Description ? 'invalid' : ''}" required>
            </label>
        </div>
        <div class="col s1">
            <input type="text" placeholder="$0.00" value.bind="item.Quantity" class="text-right ${_submitted && isNaN(item.Quantity) ? 'invalid' : ''}" required>
        </div>
        <div class="col s1">
            <input type="text" placeholder="$0.00" value.bind="item.UnitPrice" class="text-right ${_submitted && isNaN(item.UnitPrice) ? 'invalid' : ''}" required>
        </div>
        <div class="col s2">
            <input type="text" placeholder="$0.00" ng-currency value.bind="item.TotalPrice" class="text-right ${_submitted && isNaN(item.TotalPrice) ? 'invalid' : ''}" required>
        </div>
        <div class="col s12" goc-notes>
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">Kitchen Notes</div>
                    <div class="collapsible-body">
                        <textarea class="materialize-textarea" value.bind="item.KitchenNotes" style="margin-left: 20px; margin-right: 20px; width: calc(100% - 40px);"></textarea>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Ordering Notes</div>
                    <div class="collapsible-body">
                        <textarea class="materialize-textarea" value.bind="item.OrderingNotes" style="margin-left: 20px; margin-right: 20px; width: calc(100% - 40px);"></textarea>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>