<appSettings>
  <add key="GoogleSecret" value="dDgPVyaXMwNPcY-HwEa5pM8A" />
  <add key="EmailFromAddress" value="cliffe@resounding.ca" />
  <add key="SendGridUserName" value="azure_00c1fbce049c0772ed07b447085c2d64@azure.com" />
  <add key="SendGridPassword" value="P1SWxAxICm12Tpq" />
  <add key="DefaultInvoiceBccAddress" value="cliffe@resounding.ca" />
</appSettings>