<appSettings>
  <add key="GoogleSecret" value="dDgPVyaXMwNPcY-HwEa5pM8A" />
  <add key="EmailFromAddress" value="cliffe@resounding.ca" />
  <add key="SendGridUserName" value="resounding" />
  <add key="SendGridPassword" value="C0yote123" />
  <add key="DefaultInvoiceBccAddress" value="cliffe@resounding.ca" />
  <add key="SendWebhooksEmail" value="true" />
</appSettings>