<connectionStrings>
  <add name="GrandOakDbContext" connectionString="Server=DEV10;Database=GrandOakOrders;User ID=GrandOakUser;Password=goc" providerName="System.Data.SqlClient" />
  <add name="Azure" connectionString="Server=tcp:goc.database.windows.net,1433;Database=gocm_db;User ID=GrandOakUser@goc;Password=Gr@nd0ak;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>