@import 'materialize/sass/materialize.scss';

.btn-block {
    width: 100%;
}

nav {
  @extend .blue, .lighten-2;
  
  .brand-logo,
  .brand-logo.center {
      @media #{$medium-and-down} {
        left: 0;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        
        // applies only to title
        &.center {
          font-size: 1em;
          text-align: center;
          margin-left: 75px;
          right: 0;
        }
      }      
      
      img {
        max-height: 100px;
        margin-left: 10px;
        
        @media #{$small-and-down} {
          max-width: 75px;
          margin-left: 0;  
        }
      }
    }
  }
  
  .fixed-action-btn {
    bottom: 45px;
    right: 24px;
  }

/* Collapsibles, with popout */
.collapsible-header.double-header {
    height: $collapsible-height * 2;
}
.container .popout li.active {
  margin: 0 -20px;
}
.container .popout li.active .collapsible-header {
  color: #ddd;
}
.container .popout li.active .collapsible-body {
  padding: 20px 20px 0;
}
/* end Collapsibles, with popout */

/* Homepage */
.home img,
img.header-image {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
/* end Homepage*/

.list {
    & > header {
        height: 150px;
        overflow-y: hidden;

        img {
            display: block;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px;
        }
    }
}

/* utility */
.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
.h5, input[type=text].h5, input[type=password].h5, input[type=email].h5, input[type=url].h5,
input[type=time].h5, input[type=date].h5, input[type=datetime-local].h5, input[type=tel].h5,
input[type=number].h5, input[type=search].h5, textarea.materialize-textarea.h5 {
    font-size: $h5-fontsize;
    line-height: 1.1*$h5-fontsize;
}
/* end utility*/