@import 'fullcalendar/fullcalendar.css';
@import 'materialize/sass/materialize.scss';
@import 'toastr.scss';

.btn-block {
    width: 100%;
}

nav {
  @extend .blue, .lighten-2;

    a {
        height: $navbar-height-mobile;
        cursor: pointer;

        img {
            max-height: $navbar-height-mobile;
        }
    }
  
  .brand-logo,
  .brand-logo.center {
      @media #{$medium-and-down} {
        left: 0;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        
        // applies only to title
        &.center {
          font-size: 1em;
          text-align: center;
          margin-left: 75px;
          right: 0;
        }
      }      
      
      img {
        max-height: 100px;
        margin-left: 10px;
        
        @media #{$small-and-down} {
          max-width: 75px;
          margin-left: 0;  
        }
      }
    }
  }

.fixed-tool-bar {
    @extend .container;

    position: fixed;
    top: $navbar-height;
    text-align: right;
    background-color: #fff;
    z-index: 5;
}
  
  .fixed-action-btn {
    bottom: 45px;
    right: 24px;
  }

/* Lists */
.collection .collection-item {

    &.auto-height {
        height: auto;
    }

    .row {
        margin-bottom: 0;
    }

    .summary {
        display: inline-block;
        max-height: 5rem; /*line-height is 1.5*/
        overflow-y: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
}
/* end Lists */

/* Collapsibles, with popout */
.collapsible-header {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.collapsible-header.double-header {
    height: $collapsible-height * 2;
}
.collapsible-header.double-header.active {
    height: $collapsible-height;
}
.collapsible-header .duplicate {
    color: #bbb;
}
.collapsible-header.active .duplicate {
    display: none;
}
.container .popout li.active {
  margin: 0 -20px;
}
.container .popout li.active .collapsible-header {
  color: #ddd;
}
.container .popout li.active .collapsible-body {
  padding: 20px 20px 0;
}
/* end Collapsibles, with popout */

/* Homepage */
.home img,
img.header-image {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
/* end Homepage*/

.list {
    & > header {
        height: 150px;
        overflow-y: hidden;

        img {
            display: block;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px;
        }
    }
}

/* utility */
.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
.h5, input[type=text].h5, input[type=password].h5, input[type=email].h5, input[type=url].h5,
input[type=time].h5, input[type=date].h5, input[type=datetime-local].h5, input[type=tel].h5,
input[type=number].h5, input[type=search].h5, textarea.materialize-textarea.h5 {
    font-size: $h5-fontsize;
    line-height: 1.1*$h5-fontsize;
}
.invisible {
    visibility: hidden;
}
.bordered {
    border: solid 1px #808080
}
/* end utility*/

/* toastr fixes */
#toast-container {
    top: auto;
    right: auto;

    .toast {
        height: auto;
    }
}
/* end toastr fixes */

/* calendar modal */
#calendarModal.modal.modal-fixed-footer {
    width: 90%;
    max-height: 90%;
    height: 90%;
    top: 0;

    .legend  {
        h5 {
            display: inline-block;
        }
        & > div {
            display: inline-block;
            text-align: center;
            padding: 10px;
        }
    }

    .fc-event {
        &.unconfirmed {
            @extend .amber, .lighten-2;
            color: $off-black;
            border-color: $off-black;
        }
        &.confirmed {
            @extend .green;
            color: $off-black;
            border-color: $off-black;
        }
    }
}
/* end calendar modal */

#emailModal.modal.modal-fixed-footer {
    height: 80vh;
    max-height: 80vh;
}

/* Typeahead */
.twitter-typeahead {
  width: 100%;
}
.tt-menu {
  background-color: #fff;
}
.tt-menu .tt-suggestion {
  padding: 10px;
  border-bottom: solid 2px #ddd;
  cursor: pointer;
}
.tt-menu .tt-suggestion:hover {
  background-color: #64B5F6;
  color: #fff;
}
/* end Typeahead */