<template>
    <require from="./show"></require>
    <require from="./edit"></require>
    
    <div class="list">
        <a href="#">
            <i class="material-icons">chevron_left</i>
            <i class="material-icons">home</i>
            Home
        </a>
        <header>
            <img src="/img/order.jpg" alt="Orders">
        </header>
        <p></p>
        <ul class="collection container">
            <li class="collection-item avatar auto-height" repeat.for="item of _items">
                <show-item model.bind="item" visible.bind="!item.editing"></show-item>
                <edit-item model.bind="item" collection.bind="_items" visible.bind="item.editing"></edit-item>
            </li>
        </ul>
    </div>
    
    <div class="fixed-action-btn">
        <button type="button" class="btn-floating btn-large red" click.trigger="add()">
            <i class="large material-icons">add</i>
        </button>
    </div>
</template>